.FormDiv{
    width: 30%;
    padding: 3%;
    margin: 0 auto;
}

.EachDiv{
    padding-top: 15px;
}
.EachInput{
    width: 100%;
    min-height: 25px;
    border-radius: 5px;
    border: 1px solid #c5c3c3 !important;
}
.DateTime{
    display: flex;
}
.DateInput{
    width: 49%;
    margin-right: 1%;
}
.TimeInput{
    width: 49%;
    margin-left: 1%;
}
.BtnSave{
    background-color: #129e37;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-left: 12px;
    cursor: pointer;
}
.BtnCancel{
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 12px;
    cursor: pointer;
}
.BtnsDiv{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.TaskHeader{
    padding: 10px;
    background-color: #f1f1f1;
}
.Form{
    background-color: lightblue;
    padding-inline: 15px;
}

@media only screen and (max-width:450px){
    .FormDiv{
        width: 85%;
        padding-top: 15%;
        margin: 0 auto;
    }    
}